<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Frontend</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/script.js"></script>
  </head>
  <body>
    <!-- Title -->
    <h1>Title</h1>

    <!-- Highlighted Text Display -->
    <label for="inputLayer">Textbox:</label>
    <div class="highlight-container">
      <div id="highlightOverlay"></div>
      <textarea
        id="inputLayer"
        rows="3"
        placeholder="Enter your text here..."
        oninput="enforceMaxRows(); updateHighlight(); logEachLine()"
      ></textarea>
    </div>

    <br /><br />

    <!-- Line number query -->
    <label for="lineNumberBox">Line number:</label>
    <input
      type="number"
      id="lineNumberBox"
      name="lineNumberBox"
      value="1"
      placeholder="Enter line number to query here..."
      oninput="updateHighlight()"
    />

    <br /><br />

    <!-- Search query -->
    <label for="searchTextbox">Search query:</label>
    <input
      type="text"
      id="searchTextbox"
      name="searchTextbox"
      placeholder="Enter search query here..."
      oninput="updateHighlight()"
    />
  </body>
</html>
